body {

}

.click {
    cursor: pointer;
}

.left {
    float: left;
}

.right {
    float: right;
}

.noselect {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

:hover>.tooltip {
    display: block;
    opacity: 1;
}

.tooltip {
    font-size: 16px;
    display: none;
    background: #9cf;
    padding: 14px 28px 14px 10px;
    margin: 12px;
    position: absolute;
    top: 320px;
    left: 24px;
    z-index: 1000;
    text-align: left;
    -webkit-transition: opacity 0.3s ease-out;
    opacity: 0; 
    overflow: hidden;
}

div#scoreboard {
    float: left;
    height: 300px;
    font-size: 24px;
    font-weight: bold;
    border: 1px solid #000;
}

div.home {
    width: 150px;
    margin: 20px;
    float: left;
    text-align: center;
}

div.keys {
    float: left;
    width: 200px;
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
}

div.away {
    width: 150px;
    margin: 20px;
    float: left;
    text-align: center;
}

div.homescore, div.awayscore {
    font-size: 64px;
    height: 80px;
}

div.teams {
    height: 80px;
    font-size: 24px;
}

div.down {
    width: 70px;
}

div.bottom {
    margin-left: 120px;
    text-align: center;
}

div.bottom>div {
    margin: 15px;
}